[core]
	excludesfile = /Users/Cyphre/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Thomas Hope
	email = hope.thomasj@gmail.com
[push]
	default = simple
[pull]
	rebase = true
[rerere]
	enabled = true
[alias]
	s = status -s
	lg = log --oneline --decorate --all --graph
[http]
	postBuffer = 524288000
[color]
    ui = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
